<div
  id="article-navigation-container"
  class="navigation hidden flex-1 pt-8 md:flex"
>
  <div class="sticky top-[calc(25%-10px)] flex h-fit w-full pl-3">
    <div
      class="dark:gray-700 shadow-xl/10 hover:shadow-xl/20 md:w-50 rounded-2xl bg-gray-100 py-3 pl-2 pr-5 transition-all duration-300 hover:shadow-sky-600 2xl:w-80 dark:bg-gray-700"
    >
      <div
        class="h-full bg-sky-200 transition-colors duration-300 dark:bg-sky-700"
        id="article-navigation"
      >
      </div>
    </div>
  </div>
</div>
