---
import OtherHero from '../banners/OtherHero.astro';
---

<s_article_protected>
  <s_permalink_article_rep>
    <OtherHero
      title="[##_article_rep_title_##]"
      desc="[##_article_rep_category_##]"
      imgSrc="[##_article_rep_thumbnail_url_##]"
    />
    <div class="mx-auto max-w-lg text-center">
      <div
        class="pt-50 background-[url(./images/icon-exclamation.svg)] mb-8 bg-center bg-no-repeat text-base"
      >
        <p class="">
          보호되어 있는 글입니다. <br />
          <span class="h-8 text-base text-gray-600 dark:text-gray-300">
            내용을 보시려면 비밀번호를 입력하세요.
          </span>
        </p>
        <form class="protected_form" onsubmit=`[##_article_dissolve_##]`>
          <div class="box-protected">
            <input
              type="password"
              id="[##_article_password_##]"
              name="[##_article_password_##]"
              value=""
              placeholder="비밀번호"
              class="mb-4 h-20 w-full rounded-full border pl-8 text-sm focus:outline-none"
            />
            <button
              type="submit"
              class="block h-20 w-full rounded-full bg-gray-300 text-base text-black transition duration-300 hover:bg-gray-400 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600"
            >
              확인
            </button>
          </div>
        </form>
      </div>
    </div>
  </s_permalink_article_rep>
</s_article_protected>
