<s_paging>
  <div class="none flex w-full flex-row items-center justify-evenly">
    <a
      [##_prev_page_##]
      class="[##_no_more_prev_##] cursor-pointer rounded-full bg-gray-400 p-2 text-lg dark:bg-gray-600"
    >
      <span class="mx-4">
        <span class="screen_out font-[Jua]"> 이전 </span>
      </span>
    </a>
    <div class="paging_num">
      <s_paging_rep>
        <a [##_paging_rep_link_##] class="link_num">
          [##_paging_rep_link_num_##]
        </a>
      </s_paging_rep>
    </div>
    <a
      [##_next_page_##]
      class="[##_no_more_next_##] cursor-pointer rounded-full bg-gray-400 p-2 text-lg dark:bg-gray-600"
    >
      <span class="mx-4">
        <span class="screen_out font-[Jua]"> 다음 </span>
      </span>
    </a>
  </div>
  <div class="relative mt-4 flex w-full items-center justify-center">
    <a
      href="#page-more"
      class="flex h-10 w-full cursor-pointer items-center justify-center rounded-full border bg-gray-200 text-gray-800 transition duration-300 ease-in-out hover:bg-gray-300 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600"
      [##_more_link_##]
    >
      <p class="text-md font-[Jua]">더보기</p>
    </a>
  </div>
</s_paging>
