---
import OtherHero from '@/components/banners/OtherHero.astro';
import LongCard from '@/components/cards/LongCard.astro';
import TagBadge from '@/components/sidebar/TagBadge.astro';
---

<s_list>
  <OtherHero
    title="[##_list_conform_##]"
    desc="[##_list_description_##]"
    imgSrc="[##_list_image_##]"
  />
  <div class="flex h-4 w-full"></div>
  <LongCard title="검색 결과: [##_list_count_##] 개">
    <svg
      slot="icon"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      class="mb-2 ml-2 mr-1 mt-1 fill-gray-200 transition-colors duration-500"
      viewBox="0 0 24 24"
    >
      <path
        xmlns="http://www.w3.org/2000/svg"
        d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
        stroke="#000000"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
    <div class="flex flex-col gap-4 p-6">
      <s_list_rep>
        <div
          class="group relative rounded-lg border-l-4 border-transparent pl-2 transition-all duration-200 hover:-translate-y-1 hover:border-blue-400 hover:bg-gray-50 dark:hover:bg-gray-700"
        >
          <a
            href="[##_article_prev_link_##]"
            class="flex flex-row gap-4 py-4 pr-4 no-underline"
          >
            <div
              class="h-45 w-45 bg-linear-to-t shrink-0 overflow-hidden rounded-2xl from-black/50 to-transparent"
            >
              <s_list_rep_thumbnail>
                <img
                  loading="lazy"
                  src="[##_list_rep_thumbnail_##]"
                  alt=""
                  class="rounded-lg object-cover"
                />
              </s_list_rep_thumbnail>
            </div>
            <div class="flex min-w-0 flex-col items-start gap-4">
              <div class="flex w-full grow flex-col">
                <h3
                  class="mb-2 line-clamp-2 truncate text-lg font-medium leading-tight text-gray-900 transition-colors duration-200 group-hover:text-purple-700 dark:text-gray-100 dark:group-hover:text-indigo-300"
                >
                  [##_list_rep_title_text_##]
                </h3>
                <span
                  class="line-clamp-3 text-sm text-gray-600 dark:text-gray-400"
                >
                  [##_list_rep_summary_##]
                </span>
              </div>
              <div class="flex flex-row items-start">
                <span class="flex flex-row gap-2">
                  <span class="flex items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4"
                      viewBox="0 0 24 24"
                      fill="none"
                    >
                      <path
                        class="stroke-black transition-colors duration-500 dark:stroke-white"
                        d="M12 7V12H15M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                  </span>
                  <span class="text-sm text-gray-500 dark:text-gray-400">
                    [##_list_rep_regdate_##]
                  </span>
                </span>
                <TagBadge name="[##_list_rep_category_##]" />
              </div>
            </div>
          </a>
        </div>
      </s_list_rep>
    </div>
  </LongCard>
  <!-- <section
    class="my-8 mr-2 rounded-lg border border-gray-200 p-2 dark:border-gray-700"
  >
    <div class="relative flex h-full w-full flex-col gap-4">
      <span
        class="flex w-full border-b border-gray-200 bg-opacity-50 pb-2 pt-2 text-sm text-gray-600 dark:border-gray-700 dark:text-gray-300"
      >
        <p class="w-full pr-2 text-right">결과: [##_list_count_##] 개</p>
      </span>

      <ul class="row contents-center gap-4">
        <s_list_rep>
          <li>
            <a
              href="[##_list_rep_link_##]"
              class="relative flex flex-col lg:flex-row"
            >
              <Card>
                <span class="thum flex justify-center lg:block lg:w-fit">
                  <img
                    loading="lazy"
                    src="[##_list_rep_thumbnail_url_##]"
                    alt=""
                    class="h-24 w-24 rounded-lg object-cover"
                  />
                </span>
                <div
                  class="ml-4 flex h-full w-full flex-grow flex-col justify-center"
                >
                  <span
                    class="category text-sm text-gray-500 dark:text-gray-400"
                  >
                    [##_list_rep_category_##]
                  </span>
                  <span class="title">
                    <strong class="text-bold overflow-hidden text-lg">
                      [##_list_rep_title_text_##]
                    </strong>
                  </span>
                  <span class="excerpt">[##_list_rep_summary_##]</span>
                </div>
              </Card>
            </a>
          </li>
        </s_list_rep>
        <s_list_empty>
          <li class="w-full text-center text-gray-500 dark:text-gray-400">
            <p class="text-sm">검색 결과가 없습니다.</p>
          </li>
        </s_list_empty>
      </ul>
    </div>
  </section> -->
</s_list>
