<s_tag>
  <div class="min-h-20">
    <h3 class="mx-4">Tag</h3>
    <div>
      <s_tag_rep>
        <a href="[##_tag_link_##]" class="[##_tag_class_##]">
          #[##_tag_name_##]
        </a>
      </s_tag_rep>
    </div>
  </div>
</s_tag>
