<div
  class="mb-4 max-w-sm overflow-hidden rounded-lg border border-gray-200 bg-white shadow-sm transition-all duration-500 hover:-translate-y-1 hover:shadow-lg dark:border-gray-600 dark:bg-gray-800"
>
  <slot />
</div>
