---
const { title, icon } = Astro.props;
---

<div
  class="mb-4 max-w-sm overflow-hidden rounded-lg border border-gray-200 bg-white shadow-sm transition-all duration-300 hover:-translate-y-1 hover:shadow-lg dark:border-gray-600 dark:bg-gray-800"
>
  <div
    class="bg-linear-to-r relative overflow-hidden from-blue-300 to-purple-400 px-4 py-2 dark:from-blue-600 dark:to-purple-700"
  >
    <div class="bg-linear-to-r absolute inset-0 from-white/10 to-transparent">
    </div>
    <div class="relative flex items-center justify-between">
      <h2 class="text-lg font-semibold tracking-tight text-white">
        {title}
      </h2>
      <span class="rounded-full bg-white/50 p-2 text-sm text-white">{icon}</span
      >
    </div>
  </div>
  <slot />
</div>
