---
import Layout from '@/layouts/Layout.astro';
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width user-scalable=no initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Astro로 개발된 BlueNyang Dev-log 블로그입니다."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Pacifico&family=Tektur:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <title>[##_title_##]</title>
  </head>
  <Layout />
</html>
