---
import Layout from '@/layouts/Layout.astro';

const isPreview = import.meta.env.DEV;

---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width user-scalable=no initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Astro로 개발된 BlueNyang Dev-log 블로그입니다."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Pacifico&family=Tektur:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <title>[##_title_##]</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/a11y-dark.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"
    ></script>

    <script>
      /* @ts-ignore */
      hljs.highlightAll();
    </script>

    {
      isPreview && (
        <Fragment>
          <link
            rel="stylesheet"
            href="https://t1.daumcdn.net/tistory_admin/www/style/font.css"
          />
          <link
            rel="stylesheet"
            href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-c836ce1e46737931c43cb093fb76ff6db3c2ace9/static/style/content.css"
          />
          <link
            rel="stylesheet"
            href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-c836ce1e46737931c43cb093fb76ff6db3c2ace9/static/pc/dist/index.css"
          />
          <link
            rel="stylesheet"
            href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-c836ce1e46737931c43cb093fb76ff6db3c2ace9/static/style/uselessPMargin.css"
          />
          <link
            rel="stylesheet"
            href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-c836ce1e46737931c43cb093fb76ff6db3c2ace9/static/style/revenue.css"
          />
          <link
            rel="stylesheet"
            href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-c836ce1e46737931c43cb093fb76ff6db3c2ace9/static/style/dialog.css"
          />
          <link
            rel="stylesheet"
            href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-c836ce1e46737931c43cb093fb76ff6db3c2ace9/static/style/postBtn.css"
          />
          <link
            rel="stylesheet"
            href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-c836ce1e46737931c43cb093fb76ff6db3c2ace9/static/style/tistory.css"
          />
        </Fragment>
      )
    }
  </head>
  <Layout />


</html>
