---
import SidebarTogglerButton from '@/components/sidebar/SidebarTogglerButton.astro';
import Menu from '@/components/header/Menu.astro';
import ThemeToggle from '@/components/theme-btn/ThemeToggle.astro';
---

<nav
  id="navbar"
  class="fixed z-50 flex w-full items-center justify-between bg-white/80 transition-colors duration-500 dark:bg-gray-800/80"
>
  <!-- Left side - Mobile menu toggler and Brand -->
  <div class="ml-4 flex items-center gap-x-4">
    <SidebarTogglerButton />
    <div class="flex py-5 lg:flex-1">
      <a class="-m-1.5 p-1.5" href="https://bluenyang-dev.tistory.com/">
        <span
          class="transition-color bg-linear-to-r from-blue-600 to-purple-700 bg-clip-text font-[Pacifico] text-2xl font-bold duration-500 hover:text-transparent dark:from-blue-300 dark:to-purple-400"
        >
          BlueNyang
        </span>
      </a>
    </div>
  </div>

  <Menu />

  <ThemeToggle />
</nav>
