<ul class="tt_category">
  <li class="">
    <a href="/category" class="link_tit">
      분류 전체보기 <span class="c_cnt">(2)</span>
      <img
        alt="N"
        src="https://tistory1.daumcdn.net/tistory_admin/blogs/image/category/new_ico_5.gif"
        style="vertical-align:middle;padding-left:2px;"
      /></a
    >
    <ul class="category_list">
      <li class="">
        <a href="/category/Development" class="link_item">
          Development <span class="c_cnt">(1)</span>
        </a>
        <ul class="sub_category_list">
          <li class="">
            <a
              href="/category/Development/C%20%7C%20C%2B%2B"
              class="link_sub_item"
            >
              C | C++ <span class="c_cnt">(1)</span>
            </a>
          </li>
          <li class="">
            <a
              href="/category/Development/C%23%20%28.NET%29"
              class="link_sub_item"
            >
              C# (.NET) <span class="c_cnt">(0)</span>
            </a>
          </li>
          <li class="">
            <a href="/category/Development/Go" class="link_sub_item">
              Go <span class="c_cnt">(0)</span>
            </a>
          </li>
          <li class="">
            <a
              href="/category/Development/Java%20%7C%20Spring"
              class="link_sub_item"
            >
              Java | Spring <span class="c_cnt">(0)</span>
            </a>
          </li>
          <li class="">
            <a
              href="/category/Development/Web%20-%20HTML%20%7C%20CSS"
              class="link_sub_item"
            >
              Web - HTML | CSS <span class="c_cnt">(0)</span>
            </a>
          </li>
          <li class="">
            <a
              href="/category/Development/Web%20-%20JavaScript%20%7C%20TypeScript"
              class="link_sub_item"
            >
              Web - JavaScript | TypeScri.. <span class="c_cnt">(0)</span>
            </a>
          </li>
          <li class="">
            <a
              href="/category/Development/Mobile%20-%20Kotlin"
              class="link_sub_item"
            >
              Mobile - Kotlin <span class="c_cnt">(0)</span>
            </a>
          </li>
          <li class="">
            <a
              href="/category/Development/SQL%20%7C%20Database"
              class="link_sub_item"
            >
              SQL | Database <span class="c_cnt">(0)</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="/category/Studies" class="link_item">
          Studies <span class="c_cnt">(1)</span>
          <img
            alt="N"
            src="https://tistory1.daumcdn.net/tistory_admin/blogs/image/category/new_ico_5.gif"
            style="vertical-align:middle;padding-left:2px;"
          /></a
        >
        <ul class="sub_category_list">
          <li class="">
            <a
              href="/category/Studies/Java%20%ED%92%80%EC%8A%A4%ED%83%9D%20%EC%95%84%EC%B9%B4%EB%8D%B0%EB%AF%B8"
              class="link_sub_item"
            >
              Java 풀스택 아카데미 <span class="c_cnt">(1)</span>
              <img
                alt="N"
                src="https://tistory1.daumcdn.net/tistory_admin/blogs/image/category/new_ico_5.gif"
                style="vertical-align:middle;padding-left:2px;"
              /></a>
          </li>
          <li class="">
            <a href="/category/Studies/SW%20Design" class="link_sub_item">
              SW Design <span class="c_cnt">(0)</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="/category/Life" class="link_item">
          Life <span class="c_cnt">(0)</span>
        </a>
        <ul class="sub_category_list">
          <li class="">
            <a href="/category/Life/Hobbies" class="link_sub_item">
              Hobbies <span class="c_cnt">(0)</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
