---
import BannerHero from '@/components/banners/BannerHero.astro';
// import OtherHero from '@/components/banners/OtherHero.astro';
---

<s_cover_group>
  <s_cover_rep>
    <s_cover name="main">
      <section class="w-full">
        <BannerHero />
      </section>
    </s_cover>
  </s_cover_rep>
</s_cover_group>
