---
interface Props {
  title: string;
  desc: string;
  imgSrc: string;
}

const { title, desc, imgSrc }: Props = Astro.props;
---

<div
  class="bg-linear-to-t relative z-0 flex h-[calc(100vh*2/3)] w-full items-center justify-center rounded-2xl from-black/50 to-transparent"
>
  <div
    class="relative z-30 flex h-full flex-col items-center justify-center px-4 text-center"
  >
    <strong class="animate-slide-up mb-8 text-5xl font-bold">
      {title}
    </strong>
    <p class="animate-slide-up mb-0 text-xl">
      {desc}
    </p>
  </div>
  <div
    id="hero-front-ground"
    class="dark:black/50 absolute z-20 h-full w-full rounded-2xl bg-gray-500/50 opacity-50"
  >
  </div>
  <img
    id="hero-image"
    src={imgSrc}
    alt="hero image"
    class="animate-slow-zoom absolute z-10 h-full w-full object-cover"
  />
</div>
